<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hospital Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<a href="/logout" class="logout-btn">
    🚪 Logout
</a>

<div class="overlay">

<div class="login-box">
<div class="overlay">

<div class="dashboard-box">

<h1>🏥 Hospital Management System</h1>

<h2>Welcome Administrator</h2>

<div class="dashboard-grid">

<a href="/add_doctor" class="card">
<i class="fa-solid fa-user-doctor"></i>
<h3>Add Doctor</h3>
</a>

<a href="/view_doctors" class="card">
<i class="fa-solid fa-stethoscope"></i>
<h3>View Doctors</h3>
</a>

<a href="/add_patient" class="card">
<i class="fa-solid fa-user-plus"></i>
<h3>Add Patient</h3>
</a>

<a href="/view_patients" class="card">
<i class="fa-solid fa-users"></i>
<h3>View Patients</h3>
</a>

<a href="/book_appointment" class="card">
    <i class="fa-solid fa-calendar-check"></i>
    <h3>Book Appointment</h3>
</a>

<a href="/view_appointments" class="card">
    <i class="fa-solid fa-calendar-days"></i>
    <h3>View Appointments</h3>
</a>

<a href="/reports" class="card">
<i class="fa-solid fa-chart-line"></i>
<h3>Reports</h3>
</a>

<a href="/medicine" class="card">

<i class="fa-solid fa-pills"></i>

<h3>Medicine</h3>

</a>

<a href="/billing" class="card">

<i class="fa-solid fa-file-invoice-dollar"></i>

<h3>Billing</h3>

</a>

</div>

</div>

</div>

</body>

</html>