<!DOCTYPE html>
<html>

<head>

    <title>Edit Patient</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

<div class="login-box">

<h1>✏️ Edit Patient</h1>

<h3>Update Patient Information</h3>

<form action="/edit_patient/{{ patient[0] }}" method="POST">

<input
type="text"
name="patient_name"
value="{{ patient[1] }}"
required>

<input
type="number"
name="age"
value="{{ patient[2] }}"
required>

<input
type="text"
name="gender"
value="{{ patient[3] }}"
required>

<input
type="text"
name="phone"
value="{{ patient[4] }}"
required>

<input
type="text"
name="disease"
value="{{ patient[5] }}"
required>

<button type="submit">

Update Patient

</button>

</form>

<br>

<a href="/view_patients">

<button>

Back to Patient List

</button>

</a>

</div>

</div>

</body>

</html>