<!DOCTYPE html>
<html>

<head>

    <title>Medicine Recommendation</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

<div class="login-box">

<h1>💊 Medicine Recommendation</h1>

<br>

<form action="/medicine_result" method="POST">

<input
type="text"
name="disease"
placeholder="Enter Disease Name"
required>

<br><br>

<button type="submit">

🔍 Search Medicine

</button>

</form>

<br><br>

<a href="/dashboard">

<button>

⬅ Back to Dashboard

</button>

</a>

</div>

</div>

</body>

</html>