<!DOCTYPE html>
<html>

<head>

    <title>View Appointments</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="overlay">

<div class="login-box doctor-box">

<h1>📅 Appointment List</h1>

<br>

<table border="1" width="100%" cellspacing="0" cellpadding="20">

<tr>

<th>ID</th>
<th>Patient</th>
<th>Doctor</th>
<th>Date</th>
<th>Time</th>
<th>Status</th>
<th>Actions</th>

</tr>

{% for appointment in appointments %}

<tr>

<td>{{ appointment[0] }}</td>
<td>{{ appointment[1] }}</td>
<td>{{ appointment[2] }}</td>
<td>{{ appointment[3] }}</td>
<td>{{ appointment[4] }}</td>
<td>{{ appointment[5] }}</td>

<td>

<a href="/edit_appointment/{{ appointment[0] }}">
<button class="edit-btn">

✏️ Edit

</button>

</a>

<a href="/delete_appointment/{{ appointment[0] }}">
<button class="delete-btn">

🗑 Delete

</button>

</a>

</td>

</tr>

{% endfor %}

</table>

<br><br>

<a href="/dashboard">

<button>

Back to Dashboard

</button>

</a>

</div>

</div>

</body>

</html>